*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

html, body{
    overflow-x: hidden;
    scroll-behavior: smooth;
    height: 200vh;
}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


header{
    background: #D92394;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    /* position: fixed;
    width: 100%;
    z-index: 1; */
}

.logo a{
    font-size: 1.2rem;
    background-color: white;
    border-radius: 70%;
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    color: #f6099b;
    text-decoration: none;
}

#nav-bars li a{
    text-decoration: none;
    color: #fff;
    padding: 20px 25px;
}



#nav-bars li{
    display: inline-flex;
    position: relative;
    
}

#nav-bars li a{
    display: block;
    padding: 20px 25px;
    text-decoration: none;
    color: #fff;
    text-align: center;
}

#nav-bars li .dropdown{
    display: none;
    position: absolute;
    top: 3rem;
    z-index: 1;
    background-color: #7e0b52;
    text-align: center;
}

#nav-bars li .click{
    display: none;
    position: absolute;
    top: 3rem;
    z-index: 1;
    background-color: #7e0b52;
    text-align: center;
}


#nav-bars li:hover .dropdown{
    display: block;
}

#nav-bars li:hover .click{
    display: block;
}

.click li:hover, .dropdown li:hover{
    background-color: #8b165f;
}

.click a:active, .dropdown a:active{
    background-color: #db138e;
    width: 100%;
}

.button a{
    background-color: white;
    text-decoration: none;
    color: #fa009a;
    padding: 10px;
    display: flex;
    align-items: center;
    position: relative;
    top: 10px;
    border-radius: 10px;
    transition: 0.3s ease;

}

.button a:hover{
    background-color: #973973;
}

.button a:active{
    background-color: #bd3c8b;
}

.location h1{
    text-align: center;
   position: relative;
   top: 5rem;
   right: 2rem;
   color: #b72780;
   font-size: 4rem;
}

.map-container{
    position: absolute;
    top: 20rem;
    left: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
}

.map-content{
    background-color: #ded5d500;
    box-shadow: 4px 4px 10px rgba(54, 54, 54, 0.323);
    height: 28rem;
    line-height: 1.6;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2rem;
    border-radius: 10px;
}

.map-content span{
    font-size: 13px;
    font-weight: 500;
    color: #333;
}

.map-content h2{
    font-size: 23px;
    color: #D92394;
}

.map iframe{
    border-radius: 10px;
}

.contact h2{
    position: absolute;
    top: 40rem;
    left: 42rem;
    margin-bottom: 10rem;
    font-size: 3rem;
    color: #bd3c8b;
}

footer{
    background: #D92394;
    display: flex;
    justify-content: space-between;
    padding: 50px;
    align-items: center;
    position: absolute;
    top: 80rem;
    width: 100%;
    margin-top: 4rem;
}

footer a{
    text-decoration: none;
    color: #fff;
}

footer a:hover{
    text-decoration: underline black;
}

.about-links{
    display: flex;
    flex-direction: column;
    line-height: 1.6;
}

.contact-links{
    display: flex;
    flex-direction: column;
}

.contact{
    position: relative;
    bottom: 2rem;
    left: 2rem;
}

.home{
    position: relative;
    bottom: 2rem;
}

.location{
    position: relative;
    bottom: 20px;
    left: 2rem;
}


.logo2 a{
    font-size: 1.2rem;
    background-color: white;
    border-radius: 70%;
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    color: #f6099b;
    text-decoration: none;
    position: relative;
    bottom: 2rem;
    right: 2rem;
}

.to-top{
    font-size: 3rem;
    color: black;
    position: fixed;
    bottom: 16px;
    right: 32px;
    pointer-events: none;
    opacity: 0;
    transition: 0.3s ease;
}

.to-top.active{
    pointer-events: auto;
    opacity: 1;
}

@media (min-width: 320px) and (max-width: 351px){
    .nav-toggle{
        cursor: pointer;
        position: relative;
        left: 20rem;
        /* top: 10px; */
        z-index: 1;
    }

    .bar{
        display: block;
        background: white;
        margin: 5px auto;
        position: relative;
        right: 20rem;
        top: 20px;
        width: 25px;
        height: 3px;
    }

    #nav-bars{
        display: none;
        flex-direction: column;
        left: 2rem;
        top: 2rem;
        background: #d92393b6;
        height: 60vh;
        width: 30vh;
        justify-content: center;
        padding: 5rem 0;
        align-items: center;
        position: absolute;
        /* padding: 2rem; */
        /* gap: 2rem; */
        /* text-align: center; */
    }

    .about-li{
        position: relative;
        top: 2rem;
        right: 3rem;
        margin-top: 5rem;
        margin-bottom: 5rem;
    }

    .link{
        position: relative;
        left: 2.5rem;
    }

    .home2{
        position: relative;
        left: 3rem;
        margin-bottom: 5rem;
    }

    #nav-bars.active{
        display: block;
    }

    .nav-toggle.active .bar:nth-child(2){
        opacity: 0;
    }

    .nav-toggle.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .nav-toggle.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    #nav-bars li .dropdown{
        display: none;
        position: absolute;
        top: 3rem;
        z-index: 1;
        background-color: #7e0b52c4;
        text-align: center;
        width: 8rem;
    }

    #nav-bars li .click{
        display: none;
        position: absolute;
        top: 3rem;
        z-index: 1;
        background-color: #7e0b52cd;
        text-align: center;
        width: 8rem;
    }

    .map-container{
        flex-direction: column;
        left: 0;
        right: 3rem;
        z-index: -1;
    }

    .map iframe{
        width: 15rem;
    }

    .map-content{
        width: 15rem;
        position: relative;
        right: 10px;
        margin-top: 2rem;
        height: 17rem;
    }

    .location h1{
        font-size: 2rem;
    }

    .contact h2{
        left: 6rem;
        top: 59rem;
        font-size: 2rem;
    }

    .form{
        top: 60rem;
        left: 2rem;
        width: 15rem;
    }

    .form button{
        margin: 0 2rem;
    }

    footer{
        flex-direction: column;
        width: 100%;
        padding: 50px;
    }

    .logo2 a{
        position: relative;
        right: 20px;
    }

    .contact-links{
        margin-top: 3rem;
        position: relative;
        right: 2.5rem;
    }

    .home{
        position: relative;
        top: 5px;
        right: 20px;
        margin-bottom: 2rem;
    }

    .about-links{
        margin-top: 2rem;
    }
}

@media (min-width: 351px) and (max-width: 390px){
    .nav-toggle{
        cursor: pointer;
        position: relative;
        left: 20rem;
        /* top: 10px; */
        z-index: 1;
    }

    .bar{
        display: block;
        background: white;
        margin: 5px auto;
        position: relative;
        right: 20rem;
        top: 20px;
        width: 25px;
        height: 3px;
    }

    #nav-bars{
        display: none;
        flex-direction: column;
        left: 2rem;
        top: 2rem;
        background: #d92393b6;
        height: 60vh;
        width: 30vh;
        justify-content: center;
        padding: 5rem 0;
        align-items: center;
        position: absolute;
        /* padding: 2rem; */
        /* gap: 2rem; */
        /* text-align: center; */
    }

    .about-li{
        position: relative;
        top: 2rem;
        right: 3rem;
        margin-top: 5rem;
        margin-bottom: 5rem;
    }

    .link{
        position: relative;
        left: 2.5rem;
    }

    .home2{
        position: relative;
        left: 3rem;
        margin-bottom: 5rem;
    }

    #nav-bars.active{
        display: block;
    }

    .nav-toggle.active .bar:nth-child(2){
        opacity: 0;
    }

    .nav-toggle.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .nav-toggle.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    #nav-bars li .dropdown{
        display: none;
        position: absolute;
        top: 3rem;
        z-index: 1;
        background-color: #7e0b52c4;
        text-align: center;
        width: 8rem;
    }

    #nav-bars li .click{
        display: none;
        position: absolute;
        top: 3rem;
        z-index: 1;
        background-color: #7e0b52cd;
        text-align: center;
        width: 8rem;
    }

    .map-container{
        flex-direction: column;
        left: 0;
        right: 3rem;
        z-index: -1;
    }

    .map iframe{
        width: 15rem;
    }

    .map-content{
        width: 15rem;
        position: relative;
        right: 10px;
        margin-top: 2rem;
        height: 17rem;
    }

    .location h1{
        font-size: 2rem;
    }

    .contact h2{
        left: 7rem;
        top: 59rem;
        font-size: 2rem;
    }

    .form{
        top: 60rem;
        left: 3rem;
        width: 15rem;
    }

    .form button{
        margin: 0 2rem;
    }

    footer{
        flex-direction: column;
        width: 100%;
        padding: 50px;
    }

    .logo2 a{
        position: relative;
        right: 20px;
    }

    .contact-links{
        margin-top: 3rem;
        position: relative;
        right: 2.5rem;
    }

    .home{
        position: relative;
        top: 5px;
        right: 20px;
        margin-bottom: 2rem;
    }

    .about-links{
        margin-top: 2rem;
    }
}

@media (min-width: 391px) and (max-width: 411px){
    .nav-toggle{
        cursor: pointer;
        position: relative;
        left: 20rem;
        /* top: 10px; */
        z-index: 1;
    }

    .bar{
        display: block;
        background: white;
        margin: 5px auto;
        position: relative;
        right: 20rem;
        top: 20px;
        width: 25px;
        height: 3px;
    }

    #nav-bars{
        display: none;
        flex-direction: column;
        left: 2rem;
        top: 2rem;
        background: #d92393b6;
        height: 60vh;
        width: 30vh;
        justify-content: center;
        padding: 5rem 0;
        align-items: center;
        position: absolute;
        /* padding: 2rem; */
        /* gap: 2rem; */
        /* text-align: center; */
    }

    .about-li{
        position: relative;
        top: 2rem;
        right: 3rem;
        margin-top: 5rem;
        margin-bottom: 5rem;
    }

    .link{
        position: relative;
        left: 2.5rem;
    }

    .home2{
        position: relative;
        left: 3rem;
        margin-bottom: 5rem;
    }

    #nav-bars.active{
        display: block;
    }

    .nav-toggle.active .bar:nth-child(2){
        opacity: 0;
    }

    .nav-toggle.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .nav-toggle.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    #nav-bars li .dropdown{
        display: none;
        position: absolute;
        top: 3rem;
        z-index: 1;
        background-color: #7e0b52c4;
        text-align: center;
        width: 8rem;
    }

    #nav-bars li .click{
        display: none;
        position: absolute;
        top: 3rem;
        z-index: 1;
        background-color: #7e0b52cd;
        text-align: center;
        width: 8rem;
    }

    .map-container{
        flex-direction: column;
        left: 0;
        right: 3rem;
        z-index: -1;
    }

    .map iframe{
        width: 15rem;
    }

    .map-content{
        width: 15rem;
        position: relative;
        right: 10px;
        margin-top: 2rem;
        height: 17rem;
    }

    .location h1{
        font-size: 2rem;
    }

    .contact h2{
        left: 8rem;
        top: 59rem;
        font-size: 2rem;
    }

    .form{
        top: 60rem;
        left: 4rem;
        width: 15rem;
    }

    .form button{
        margin: 0 2rem;
    }

    footer{
        flex-direction: column;
        width: 100%;
        padding: 50px;
    }

    .logo2 a{
        position: relative;
        right: 20px;
    }

    .contact-links{
        margin-top: 3rem;
        position: relative;
        right: 2.5rem;
    }

    .home{
        position: relative;
        top: 5px;
        right: 20px;
        margin-bottom: 2rem;
    }

    .about-links{
        margin-top: 2rem;
    }
}

@media (min-width: 411px) and (max-width: 431px){
    .nav-toggle{
        cursor: pointer;
        position: relative;
        left: 20rem;
        /* top: 10px; */
        z-index: 1;
    }

    .bar{
        display: block;
        background: white;
        margin: 5px auto;
        position: relative;
        right: 20rem;
        top: 20px;
        width: 25px;
        height: 3px;
    }

    #nav-bars{
        display: none;
        flex-direction: column;
        left: 2rem;
        top: 2rem;
        background: #d92393b6;
        height: 60vh;
        width: 30vh;
        justify-content: center;
        padding: 5rem 0;
        align-items: center;
        position: absolute;
        /* padding: 2rem; */
        /* gap: 2rem; */
        /* text-align: center; */
    }

    .about-li{
        position: relative;
        top: 2rem;
        right: 3rem;
        margin-top: 5rem;
        margin-bottom: 5rem;
    }

    .link{
        position: relative;
        left: 2.5rem;
    }

    .home2{
        position: relative;
        left: 3rem;
        margin-bottom: 5rem;
    }

    #nav-bars.active{
        display: block;
    }

    .nav-toggle.active .bar:nth-child(2){
        opacity: 0;
    }

    .nav-toggle.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .nav-toggle.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    #nav-bars li .dropdown{
        display: none;
        position: absolute;
        top: 3rem;
        z-index: 1;
        background-color: #7e0b52c4;
        text-align: center;
        width: 8rem;
    }

    #nav-bars li .click{
        display: none;
        position: absolute;
        top: 3rem;
        z-index: 1;
        background-color: #7e0b52cd;
        text-align: center;
        width: 8rem;
    }

    .map-container{
        flex-direction: column;
        left: 0;
        right: 3rem;
        z-index: -1;
    }

    .map iframe{
        width: 15rem;
    }

    .map-content{
        width: 15rem;
        position: relative;
        right: 10px;
        margin-top: 2rem;
        height: 17rem;
    }

    .location h1{
        font-size: 2rem;
    }

    .contact h2{
        left: 9rem;
        top: 59rem;
        font-size: 2rem;
    }

    .form{
        top: 60rem;
        left: 4.5rem;
        width: 15rem;
    }

    .form button{
        margin: 0 2rem;
    }

    footer{
        flex-direction: column;
        width: 100%;
        padding: 50px;
    }

    .logo2 a{
        position: relative;
        right: 20px;
    }

    .contact-links{
        margin-top: 3rem;
        position: relative;
        right: 2.5rem;
    }

    .home{
        position: relative;
        top: 5px;
        right: 20px;
        margin-bottom: 2rem;
    }

    .about-links{
        margin-top: 2rem;
    }
}

@media (min-width: 431px) and (max-width: 451px){
    .nav-toggle{
        cursor: pointer;
        position: relative;
        left: 20rem;
        /* top: 10px; */
        z-index: 1;
    }

    .bar{
        display: block;
        background: white;
        margin: 5px auto;
        position: relative;
        right: 20rem;
        top: 20px;
        width: 25px;
        height: 3px;
    }

    #nav-bars{
        display: none;
        flex-direction: column;
        left: 2rem;
        top: 2rem;
        background: #d92393b6;
        height: 60vh;
        width: 30vh;
        justify-content: center;
        padding: 5rem 0;
        align-items: center;
        position: absolute;
        /* padding: 2rem; */
        /* gap: 2rem; */
        /* text-align: center; */
    }

    .about-li{
        position: relative;
        top: 2rem;
        right: 3rem;
        margin-top: 5rem;
        margin-bottom: 5rem;
    }

    .link{
        position: relative;
        left: 2.5rem;
    }

    .home2{
        position: relative;
        left: 3rem;
        margin-bottom: 5rem;
    }

    #nav-bars.active{
        display: block;
    }

    .nav-toggle.active .bar:nth-child(2){
        opacity: 0;
    }

    .nav-toggle.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .nav-toggle.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    #nav-bars li .dropdown{
        display: none;
        position: absolute;
        top: 3rem;
        z-index: 1;
        background-color: #7e0b52c4;
        text-align: center;
        width: 8rem;
    }

    #nav-bars li .click{
        display: none;
        position: absolute;
        top: 3rem;
        z-index: 1;
        background-color: #7e0b52cd;
        text-align: center;
        width: 8rem;
    }

    .map-container{
        flex-direction: column;
        left: 0;
        right: 3rem;
        z-index: -1;
    }

    .map iframe{
        width: 15rem;
    }

    .map-content{
        width: 15rem;
        position: relative;
        right: 10px;
        margin-top: 2rem;
        height: 17rem;
    }

    .location h1{
        font-size: 2rem;
    }

    .contact h2{
        left: 10rem;
        top: 59rem;
        font-size: 2rem;
    }

    .form{
        top: 60rem;
        left: 5rem;
        width: 15rem;
    }

    .form button{
        margin: 0 2rem;
    }

    footer{
        flex-direction: column;
        width: 100%;
        padding: 50px;
    }

    .logo2 a{
        position: relative;
        right: 20px;
    }

    .contact-links{
        margin-top: 3rem;
        position: relative;
        right: 2.5rem;
    }

    .home{
        position: relative;
        top: 5px;
        right: 20px;
        margin-bottom: 2rem;
    }

    .about-links{
        margin-top: 2rem;
    }
}

@media (min-width: 451px) and (max-width: 475px){
    .nav-toggle{
        cursor: pointer;
        position: relative;
        left: 20rem;
        /* top: 10px; */
        z-index: 1;
    }

    .bar{
        display: block;
        background: white;
        margin: 5px auto;
        position: relative;
        right: 20rem;
        top: 20px;
        width: 25px;
        height: 3px;
    }

    #nav-bars{
        display: none;
        flex-direction: column;
        left: 2rem;
        top: 2rem;
        background: #d92393b6;
        height: 60vh;
        width: 30vh;
        justify-content: center;
        padding: 5rem 0;
        align-items: center;
        position: absolute;
        /* padding: 2rem; */
        /* gap: 2rem; */
        /* text-align: center; */
    }

    .about-li{
        position: relative;
        top: 2rem;
        right: 3rem;
        margin-top: 5rem;
        margin-bottom: 5rem;
    }

    .link{
        position: relative;
        left: 2.5rem;
    }

    .home2{
        position: relative;
        left: 3rem;
        margin-bottom: 5rem;
    }

    #nav-bars.active{
        display: block;
    }

    .nav-toggle.active .bar:nth-child(2){
        opacity: 0;
    }

    .nav-toggle.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .nav-toggle.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    #nav-bars li .dropdown{
        display: none;
        position: absolute;
        top: 3rem;
        z-index: 1;
        background-color: #7e0b52c4;
        text-align: center;
        width: 8rem;
    }

    #nav-bars li .click{
        display: none;
        position: absolute;
        top: 3rem;
        z-index: 1;
        background-color: #7e0b52cd;
        text-align: center;
        width: 8rem;
    }

    .map-container{
        flex-direction: column;
        left: 0;
        right: 3rem;
        z-index: -1;
    }

    .map iframe{
        width: 15rem;
    }

    .map-content{
        width: 15rem;
        position: relative;
        right: 10px;
        margin-top: 2rem;
        height: 17rem;
    }

    .location h1{
        font-size: 2rem;
    }

    .contact h2{
        left: 11rem;
        top: 59rem;
        font-size: 2rem;
    }

    .form{
        top: 60rem;
        left: 6rem;
        width: 15rem;
    }

    .form button{
        margin: 0 2rem;
    }

    footer{
        flex-direction: column;
        width: 100%;
        padding: 50px;
    }

    .logo2 a{
        position: relative;
        right: 20px;
    }

    .contact-links{
        margin-top: 3rem;
        position: relative;
        right: 2.5rem;
    }

    .home{
        position: relative;
        top: 5px;
        right: 20px;
        margin-bottom: 2rem;
    }

    .about-links{
        margin-top: 2rem;
    }
}

@media (min-width: 475px) and (max-width: 500px){
    .nav-toggle{
        cursor: pointer;
        position: relative;
        left: 20rem;
        /* top: 10px; */
        z-index: 1;
    }

    .bar{
        display: block;
        background: white;
        margin: 5px auto;
        position: relative;
        right: 20rem;
        top: 20px;
        width: 25px;
        height: 3px;
    }

    #nav-bars{
        display: none;
        flex-direction: column;
        left: 2rem;
        top: 2rem;
        background: #d92393b6;
        height: 60vh;
        width: 30vh;
        justify-content: center;
        padding: 5rem 0;
        align-items: center;
        position: absolute;
        /* padding: 2rem; */
        /* gap: 2rem; */
        /* text-align: center; */
    }

    .about-li{
        position: relative;
        top: 2rem;
        right: 3rem;
        margin-top: 5rem;
        margin-bottom: 5rem;
    }

    .link{
        position: relative;
        left: 2.5rem;
    }

    .home2{
        position: relative;
        left: 3rem;
        margin-bottom: 5rem;
    }

    #nav-bars.active{
        display: block;
    }

    .nav-toggle.active .bar:nth-child(2){
        opacity: 0;
    }

    .nav-toggle.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .nav-toggle.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    #nav-bars li .dropdown{
        display: none;
        position: absolute;
        top: 3rem;
        z-index: 1;
        background-color: #7e0b52c4;
        text-align: center;
        width: 8rem;
    }

    #nav-bars li .click{
        display: none;
        position: absolute;
        top: 3rem;
        z-index: 1;
        background-color: #7e0b52cd;
        text-align: center;
        width: 8rem;
    }

    .map-container{
        flex-direction: column;
        left: 0;
        right: 3rem;
        z-index: -1;
    }

    .map iframe{
        width: 15rem;
    }

    .map-content{
        width: 15rem;
        position: relative;
        right: 10px;
        margin-top: 2rem;
        height: 17rem;
    }

    .location h1{
        font-size: 2rem;
    }

    .contact h2{
        left: 12rem;
        top: 59rem;
        font-size: 2rem;
    }

    .form{
        top: 60rem;
        left: 6.5rem;
        width: 15rem;
    }

    .form button{
        margin: 0 2rem;
    }

    footer{
        flex-direction: column;
        width: 100%;
        padding: 50px;
    }

    .logo2 a{
        position: relative;
        right: 20px;
    }

    .contact-links{
        margin-top: 3rem;
        position: relative;
        right: 2.5rem;
    }

    .home{
        position: relative;
        top: 5px;
        right: 20px;
        margin-bottom: 2rem;
    }

    .about-links{
        margin-top: 2rem;
    }
}

@media (min-width: 501px) and (max-width: 531px){
    .nav-toggle{
        cursor: pointer;
        position: relative;
        left: 20rem;
        /* top: 10px; */
        z-index: 1;
    }

    .bar{
        display: block;
        background: white;
        margin: 5px auto;
        position: relative;
        right: 20rem;
        top: 20px;
        width: 25px;
        height: 3px;
    }

    #nav-bars{
        display: none;
        flex-direction: column;
        left: 2rem;
        top: 2rem;
        background: #d92393b6;
        height: 60vh;
        width: 30vh;
        justify-content: center;
        padding: 5rem 0;
        align-items: center;
        position: absolute;
        /* padding: 2rem; */
        /* gap: 2rem; */
        /* text-align: center; */
    }

    .about-li{
        position: relative;
        top: 2rem;
        right: 3rem;
        margin-top: 5rem;
        margin-bottom: 5rem;
    }

    .link{
        position: relative;
        left: 2.5rem;
    }

    .home2{
        position: relative;
        left: 3rem;
        margin-bottom: 5rem;
    }

    #nav-bars.active{
        display: block;
    }

    .nav-toggle.active .bar:nth-child(2){
        opacity: 0;
    }

    .nav-toggle.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .nav-toggle.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    #nav-bars li .dropdown{
        display: none;
        position: absolute;
        top: 3rem;
        z-index: 1;
        background-color: #7e0b52c4;
        text-align: center;
        width: 8rem;
    }

    #nav-bars li .click{
        display: none;
        position: absolute;
        top: 3rem;
        z-index: 1;
        background-color: #7e0b52cd;
        text-align: center;
        width: 8rem;
    }

    .map-container{
        flex-direction: column;
        left: 0;
        right: 3rem;
        z-index: -1;
    }

    .map iframe{
        width: 25rem;
    }

    .map-content{
        width: 25rem;
        position: relative;
        right: 10px;
        margin-top: 2rem;
        height: 17rem;
    }

    .location h1{
        font-size: 2rem;
    }

    .contact h2{
        left: 13rem;
        top: 59rem;
        font-size: 2rem;
    }

    .form{
        top: 60rem;
        left: 3rem;
        width: 25rem;
    }

    .form button{
        margin: 0 2rem;
    }

    footer{
        flex-direction: column;
        width: 100%;
        padding: 50px;
    }

    .logo2 a{
        position: relative;
        right: 20px;
    }

    .contact-links{
        margin-top: 3rem;
        position: relative;
        right: 2.5rem;
    }

    .home{
        position: relative;
        top: 5px;
        right: 20px;
        margin-bottom: 2rem;
    }

    .about-links{
        margin-top: 2rem;
    }
}

@media (min-width: 531px) and (max-width: 551px){
    .nav-toggle{
        cursor: pointer;
        position: relative;
        left: 20rem;
        /* top: 10px; */
        z-index: 1;
    }

    .bar{
        display: block;
        background: white;
        margin: 5px auto;
        position: relative;
        right: 23rem;
        top: 20px;
        width: 25px;
        height: 3px;
    }

    #nav-bars{
        display: none;
        flex-direction: column;
        left: 2rem;
        top: 2rem;
        background: #d92393b6;
        height: 60vh;
        width: 30vh;
        justify-content: center;
        padding: 5rem 0;
        align-items: center;
        position: absolute;
        /* padding: 2rem; */
        /* gap: 2rem; */
        /* text-align: center; */
    }

    .about-li{
        position: relative;
        top: 2rem;
        right: 3rem;
        margin-top: 5rem;
        margin-bottom: 5rem;
    }

    .link{
        position: relative;
        left: 2.5rem;
    }

    .home2{
        position: relative;
        left: 3rem;
        margin-bottom: 5rem;
    }

    #nav-bars.active{
        display: block;
    }

    .nav-toggle.active .bar:nth-child(2){
        opacity: 0;
    }

    .nav-toggle.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .nav-toggle.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    #nav-bars li .dropdown{
        display: none;
        position: absolute;
        top: 3rem;
        z-index: 1;
        background-color: #7e0b52c4;
        text-align: center;
        width: 8rem;
    }

    #nav-bars li .click{
        display: none;
        position: absolute;
        top: 3rem;
        z-index: 1;
        background-color: #7e0b52cd;
        text-align: center;
        width: 8rem;
    }

    .map-container{
        flex-direction: column;
        left: 0;
        right: 3rem;
        z-index: -1;
    }

    .map iframe{
        width: 25rem;
    }

    .map-content{
        width: 25rem;
        position: relative;
        right: 10px;
        margin-top: 2rem;
        height: 17rem;
    }

    .location h1{
        font-size: 2rem;
    }

    .contact h2{
        left: 14rem;
        top: 59rem;
        font-size: 2rem;
    }

    .form{
        top: 60rem;
        left: 3rem;
        width: 25rem;
    }

    .form button{
        margin: 0 2rem;
    }

    footer{
        flex-direction: column;
        width: 100%;
        padding: 50px;
    }

    .logo2 a{
        position: relative;
        right: 20px;
    }

    .contact-links{
        margin-top: 3rem;
        position: relative;
        right: 2.5rem;
    }

    .home{
        position: relative;
        top: 5px;
        right: 20px;
        margin-bottom: 2rem;
    }

    .about-links{
        margin-top: 2rem;
    }
}

@media (min-width: 551px) and (max-width: 580px){
    .nav-toggle{
        cursor: pointer;
        position: relative;
        left: 20rem;
        /* top: 10px; */
        z-index: 1;
    }

    .bar{
        display: block;
        background: white;
        margin: 5px auto;
        position: relative;
        right: 23rem;
        top: 20px;
        width: 25px;
        height: 3px;
    }

    #nav-bars{
        display: none;
        flex-direction: column;
        left: 2rem;
        top: 2rem;
        background: #d92393b6;
        height: 60vh;
        width: 30vh;
        justify-content: center;
        padding: 5rem 0;
        align-items: center;
        position: absolute;
        /* padding: 2rem; */
        /* gap: 2rem; */
        /* text-align: center; */
    }

    .about-li{
        position: relative;
        top: 2rem;
        right: 3rem;
        margin-top: 5rem;
        margin-bottom: 5rem;
    }

    .link{
        position: relative;
        left: 2.5rem;
    }

    .home2{
        position: relative;
        left: 3rem;
        margin-bottom: 5rem;
    }

    #nav-bars.active{
        display: block;
    }

    .nav-toggle.active .bar:nth-child(2){
        opacity: 0;
    }

    .nav-toggle.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .nav-toggle.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    #nav-bars li .dropdown{
        display: none;
        position: absolute;
        top: 3rem;
        z-index: 1;
        background-color: #7e0b52c4;
        text-align: center;
        width: 8rem;
    }

    #nav-bars li .click{
        display: none;
        position: absolute;
        top: 3rem;
        z-index: 1;
        background-color: #7e0b52cd;
        text-align: center;
        width: 8rem;
    }

    .map-container{
        flex-direction: column;
        left: 0;
        right: 3rem;
        z-index: -1;
    }

    .map iframe{
        width: 25rem;
    }

    .map-content{
        width: 25rem;
        position: relative;
        right: 10px;
        margin-top: 2rem;
        height: 17rem;
    }

    .location h1{
        font-size: 2rem;
    }

    .contact h2{
        left: 14rem;
        top: 59rem;
        font-size: 2rem;
    }

    .form{
        top: 60rem;
        left: 4rem;
        width: 25rem;
    }

    .form button{
        margin: 0 2rem;
    }

    footer{
        flex-direction: column;
        width: 100%;
        padding: 50px;
    }

    .logo2 a{
        position: relative;
        right: 20px;
    }

    .contact-links{
        margin-top: 3rem;
        position: relative;
        right: 2.5rem;
    }

    .home{
        position: relative;
        top: 5px;
        right: 20px;
        margin-bottom: 2rem;
    }

    .about-links{
        margin-top: 2rem;
    }
}

@media (min-width: 581px) and (max-width: 591px){
    .nav-toggle{
        cursor: pointer;
        position: relative;
        left: 20rem;
        /* top: 10px; */
        z-index: 1;
    }

    .bar{
        display: block;
        background: white;
        margin: 5px auto;
        position: relative;
        right: 23rem;
        top: 20px;
        width: 25px;
        height: 3px;
    }

    #nav-bars{
        display: none;
        flex-direction: column;
        left: 2rem;
        top: 2rem;
        background: #d92393b6;
        height: 60vh;
        width: 30vh;
        justify-content: center;
        padding: 5rem 0;
        align-items: center;
        position: absolute;
        /* padding: 2rem; */
        /* gap: 2rem; */
        /* text-align: center; */
    }

    .about-li{
        position: relative;
        top: 2rem;
        right: 3rem;
        margin-top: 5rem;
        margin-bottom: 5rem;
    }

    .link{
        position: relative;
        left: 2.5rem;
    }

    .home2{
        position: relative;
        left: 3rem;
        margin-bottom: 5rem;
    }

    #nav-bars.active{
        display: block;
    }

    .nav-toggle.active .bar:nth-child(2){
        opacity: 0;
    }

    .nav-toggle.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .nav-toggle.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    #nav-bars li .dropdown{
        display: none;
        position: absolute;
        top: 3rem;
        z-index: 1;
        background-color: #7e0b52c4;
        text-align: center;
        width: 8rem;
    }

    #nav-bars li .click{
        display: none;
        position: absolute;
        top: 3rem;
        z-index: 1;
        background-color: #7e0b52cd;
        text-align: center;
        width: 8rem;
    }

    .map-container{
        flex-direction: column;
        left: 0;
        right: 3rem;
        z-index: -1;
    }

    .map iframe{
        width: 25rem;
    }

    .map-content{
        width: 25rem;
        position: relative;
        right: 10px;
        margin-top: 2rem;
        height: 17rem;
    }

    .location h1{
        font-size: 2rem;
    }

    .contact h2{
        left: 15rem;
        top: 59rem;
        font-size: 2rem;
    }

    .form{
        top: 60rem;
        left: 4.5rem;
        width: 25rem;
    }

    .form button{
        margin: 0 2rem;
    }

    footer{
        flex-direction: column;
        width: 100%;
        padding: 50px;
    }

    .logo2 a{
        position: relative;
        right: 20px;
    }

    .contact-links{
        margin-top: 3rem;
        position: relative;
        right: 2.5rem;
    }

    .home{
        position: relative;
        top: 5px;
        right: 20px;
        margin-bottom: 2rem;
    }

    .about-links{
        margin-top: 2rem;
    }
}

@media (min-width: 591px) and (max-width: 620px){
    .nav-toggle{
        cursor: pointer;
        position: relative;
        left: 20rem;
        /* top: 10px; */
        z-index: 1;
    }

    .bar{
        display: block;
        background: white;
        margin: 5px auto;
        position: relative;
        right: 25rem;
        top: 20px;
        width: 25px;
        height: 3px;
    }

    #nav-bars{
        display: none;
        flex-direction: column;
        left: 2rem;
        top: 2rem;
        background: #d92393b6;
        height: 60vh;
        width: 30vh;
        justify-content: center;
        padding: 5rem 0;
        align-items: center;
        position: absolute;
        /* padding: 2rem; */
        /* gap: 2rem; */
        /* text-align: center; */
    }

    .about-li{
        position: relative;
        top: 2rem;
        right: 3rem;
        margin-top: 5rem;
        margin-bottom: 5rem;
    }

    .link{
        position: relative;
        left: 2.5rem;
    }

    .home2{
        position: relative;
        left: 3rem;
        margin-bottom: 5rem;
    }

    #nav-bars.active{
        display: block;
    }

    .nav-toggle.active .bar:nth-child(2){
        opacity: 0;
    }

    .nav-toggle.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .nav-toggle.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    #nav-bars li .dropdown{
        display: none;
        position: absolute;
        top: 3rem;
        z-index: 1;
        background-color: #7e0b52c4;
        text-align: center;
        width: 8rem;
    }

    #nav-bars li .click{
        display: none;
        position: absolute;
        top: 3rem;
        z-index: 1;
        background-color: #7e0b52cd;
        text-align: center;
        width: 8rem;
    }

    .map-container{
        flex-direction: column;
        left: 0;
        right: 3rem;
        z-index: -1;
    }

    .map iframe{
        width: 25rem;
    }

    .map-content{
        width: 25rem;
        position: relative;
        right: 10px;
        margin-top: 2rem;
        height: 17rem;
    }

    .location h1{
        font-size: 2rem;
    }

    .contact h2{
        left: 16rem;
        top: 59rem;
        font-size: 2rem;
    }

    .form{
        top: 60rem;
        left: 5rem;
        width: 25rem;
    }

    .form button{
        margin: 0 2rem;
    }

    footer{
        flex-direction: column;
        width: 100%;
        padding: 50px;
    }

    .logo2 a{
        position: relative;
        right: 20px;
    }

    .contact-links{
        margin-top: 3rem;
        position: relative;
        right: 2.5rem;
    }

    .home{
        position: relative;
        top: 5px;
        right: 20px;
        margin-bottom: 2rem;
    }

    .about-links{
        margin-top: 2rem;
    }
}

@media (min-width: 621px) and (max-width: 640px){
    .nav-toggle{
        cursor: pointer;
        position: relative;
        left: 20rem;
        /* top: 10px; */
        z-index: 1;
    }

    .bar{
        display: block;
        background: white;
        margin: 5px auto;
        position: relative;
        right: 25rem;
        top: 20px;
        width: 25px;
        height: 3px;
    }

    #nav-bars{
        display: none;
        flex-direction: column;
        left: 2rem;
        top: 2rem;
        background: #d92393b6;
        height: 60vh;
        width: 30vh;
        justify-content: center;
        padding: 5rem 0;
        align-items: center;
        position: absolute;
        /* padding: 2rem; */
        /* gap: 2rem; */
        /* text-align: center; */
    }

    .about-li{
        position: relative;
        top: 2rem;
        right: 3rem;
        margin-top: 5rem;
        margin-bottom: 5rem;
    }

    .link{
        position: relative;
        left: 2.5rem;
    }

    .home2{
        position: relative;
        left: 3rem;
        margin-bottom: 5rem;
    }

    #nav-bars.active{
        display: block;
    }

    .nav-toggle.active .bar:nth-child(2){
        opacity: 0;
    }

    .nav-toggle.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .nav-toggle.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    #nav-bars li .dropdown{
        display: none;
        position: absolute;
        top: 3rem;
        z-index: 1;
        background-color: #7e0b52c4;
        text-align: center;
        width: 8rem;
    }

    #nav-bars li .click{
        display: none;
        position: absolute;
        top: 3rem;
        z-index: 1;
        background-color: #7e0b52cd;
        text-align: center;
        width: 8rem;
    }

    .map-container{
        flex-direction: column;
        left: 0;
        right: 3rem;
        z-index: -1;
    }

    .map iframe{
        width: 30rem;
    }

    .map-content{
        width: 30rem;
        position: relative;
        right: 10px;
        margin-top: 2rem;
        height: 17rem;
    }

    .location h1{
        font-size: 2rem;
    }

    .contact h2{
        left: 16rem;
        top: 59rem;
        font-size: 2rem;
    }

    .form{
        top: 60rem;
        left: 3.5rem;
        width: 30rem;
    }

    .form button{
        margin: 0 2rem;
    }

    footer{
        flex-direction: column;
        width: 100%;
        padding: 50px;
    }

    .logo2 a{
        position: relative;
        right: 20px;
    }

    .contact-links{
        margin-top: 3rem;
        position: relative;
        right: 2.5rem;
    }

    .home{
        position: relative;
        top: 5px;
        right: 20px;
        margin-bottom: 2rem;
    }

    .about-links{
        margin-top: 2rem;
    }
}

@media (min-width: 641px) and (max-width: 660px){
    .nav-toggle{
        cursor: pointer;
        position: relative;
        left: 20rem;
        /* top: 10px; */
        z-index: 1;
    }

    .bar{
        display: block;
        background: white;
        margin: 5px auto;
        position: relative;
        right: 26rem;
        top: 20px;
        width: 25px;
        height: 3px;
    }

    #nav-bars{
        display: none;
        flex-direction: column;
        left: 2rem;
        top: 2rem;
        background: #d92393b6;
        height: 60vh;
        width: 30vh;
        justify-content: center;
        padding: 5rem 0;
        align-items: center;
        position: absolute;
        /* padding: 2rem; */
        /* gap: 2rem; */
        /* text-align: center; */
    }

    .about-li{
        position: relative;
        top: 2rem;
        right: 3rem;
        margin-top: 5rem;
        margin-bottom: 5rem;
    }

    .link{
        position: relative;
        left: 2.5rem;
    }

    .home2{
        position: relative;
        left: 3rem;
        margin-bottom: 5rem;
    }

    #nav-bars.active{
        display: block;
    }

    .nav-toggle.active .bar:nth-child(2){
        opacity: 0;
    }

    .nav-toggle.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .nav-toggle.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    #nav-bars li .dropdown{
        display: none;
        position: absolute;
        top: 3rem;
        z-index: 1;
        background-color: #7e0b52c4;
        text-align: center;
        width: 8rem;
    }

    #nav-bars li .click{
        display: none;
        position: absolute;
        top: 3rem;
        z-index: 1;
        background-color: #7e0b52cd;
        text-align: center;
        width: 8rem;
    }

    .map-container{
        flex-direction: column;
        left: 0;
        right: 3rem;
        z-index: -1;
    }

    .map iframe{
        width: 30rem;
    }

    .map-content{
        width: 30rem;
        position: relative;
        right: 10px;
        margin-top: 2rem;
        height: 17rem;
    }

    .contact h2{
        left: 17rem;
        top: 59rem;
        font-size: 2rem;
    }

    .location h1{
        font-size: 2rem;
    }

    .form{
        top: 60rem;
        left: 4rem;
        width: 30rem;
    }

    .form button{
        margin: 0 2rem;
    }

    footer{
        flex-direction: column;
        width: 100%;
        padding: 50px;
    }

    .logo2 a{
        position: relative;
        right: 20px;
    }

    .contact-links{
        margin-top: 3rem;
        position: relative;
        right: 2.5rem;
    }

    .home{
        position: relative;
        top: 5px;
        right: 20px;
        margin-bottom: 2rem;
    }

    .about-links{
        margin-top: 2rem;
    }
}

@media (min-width: 661px) and (max-width: 700px){
    .nav-toggle{
        cursor: pointer;
        position: relative;
        left: 20rem;
        /* top: 10px; */
        z-index: 1;
    }

    .bar{
        display: block;
        background: white;
        margin: 5px auto;
        position: relative;
        right: 26rem;
        top: 20px;
        width: 25px;
        height: 3px;
    }

    #nav-bars{
        display: none;
        flex-direction: column;
        left: 2rem;
        top: 2rem;
        background: #d92393b6;
        height: 60vh;
        width: 30vh;
        justify-content: center;
        padding: 5rem 0;
        align-items: center;
        position: absolute;
        /* padding: 2rem; */
        /* gap: 2rem; */
        /* text-align: center; */
    }

    .about-li{
        position: relative;
        top: 2rem;
        right: 3rem;
        margin-top: 5rem;
        margin-bottom: 5rem;
    }

    .link{
        position: relative;
        left: 2.5rem;
    }

    .home2{
        position: relative;
        left: 3rem;
        margin-bottom: 5rem;
    }

    #nav-bars.active{
        display: block;
    }

    .nav-toggle.active .bar:nth-child(2){
        opacity: 0;
    }

    .nav-toggle.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .nav-toggle.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    #nav-bars li .dropdown{
        display: none;
        position: absolute;
        top: 3rem;
        z-index: 1;
        background-color: #7e0b52c4;
        text-align: center;
        width: 8rem;
    }

    #nav-bars li .click{
        display: none;
        position: absolute;
        top: 3rem;
        z-index: 1;
        background-color: #7e0b52cd;
        text-align: center;
        width: 8rem;
    }

    .map-container{
        flex-direction: column;
        left: 0;
        right: 3rem;
        z-index: -1;
    }

    .map iframe{
        width: 35rem;
    }

    .map-content{
        width: 35rem;
        position: relative;
        right: 10px;
        margin-top: 2rem;
        height: 17rem;
    }

    .location h1{
        font-size: 2rem;
    }

    .contact h2{
        left: 18rem;
        top: 59rem;
        font-size: 2rem;
    }

    .form{
        top: 60rem;
        left: 3rem;
        width: 35rem;
    }

    .form button{
        margin: 0 2rem;
    }

    footer{
        flex-direction: column;
        width: 100%;
        padding: 50px;
    }

    .logo2 a{
        position: relative;
        right: 20px;
    }

    .contact-links{
        margin-top: 3rem;
        position: relative;
        right: 2.5rem;
    }

    .home{
        position: relative;
        top: 5px;
        right: 20px;
        margin-bottom: 2rem;
    }

    .about-links{
        margin-top: 2rem;
    }
}

@media (min-width: 701px) and (max-width: 730px){
    .nav-toggle{
        cursor: pointer;
        position: relative;
        left: 20rem;
        /* top: 10px; */
        z-index: 1;
    }

    .bar{
        display: block;
        background: white;
        margin: 5px auto;
        position: relative;
        right: 26rem;
        top: 20px;
        width: 25px;
        height: 3px;
    }

    #nav-bars{
        display: none;
        flex-direction: column;
        left: 2rem;
        top: 2rem;
        background: #d92393b6;
        height: 60vh;
        width: 30vh;
        justify-content: center;
        padding: 5rem 0;
        align-items: center;
        position: absolute;
        /* padding: 2rem; */
        /* gap: 2rem; */
        /* text-align: center; */
    }

    .about-li{
        position: relative;
        top: 2rem;
        right: 3rem;
        margin-top: 5rem;
        margin-bottom: 5rem;
    }

    .link{
        position: relative;
        left: 2.5rem;
    }

    .home2{
        position: relative;
        left: 3rem;
        margin-bottom: 5rem;
    }

    #nav-bars.active{
        display: block;
    }

    .nav-toggle.active .bar:nth-child(2){
        opacity: 0;
    }

    .nav-toggle.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .nav-toggle.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    #nav-bars li .dropdown{
        display: none;
        position: absolute;
        top: 3rem;
        z-index: 1;
        background-color: #7e0b52c4;
        text-align: center;
        width: 8rem;
    }

    #nav-bars li .click{
        display: none;
        position: absolute;
        top: 3rem;
        z-index: 1;
        background-color: #7e0b52cd;
        text-align: center;
        width: 8rem;
    }

    .map-container{
        flex-direction: column;
        left: 0;
        right: 3rem;
        z-index: -1;
    }

    .map iframe{
        width: 35rem;
    }

    .map-content{
        width: 35rem;
        position: relative;
        right: 10px;
        margin-top: 2rem;
        height: 17rem;
    }

    .location h1{
        font-size: 2rem;
    }

    .contact h2{
        left: 18rem;
        top: 59rem;
        font-size: 2rem;
    }

    .form{
        top: 60rem;
        left: 4rem;
        width: 35rem;
    }

    .form button{
        margin: 0 2rem;
    }

    footer{
        flex-direction: column;
        width: 100%;
        padding: 50px;
    }

    .logo2 a{
        position: relative;
        right: 20px;
    }

    .contact-links{
        margin-top: 3rem;
        position: relative;
        right: 2.5rem;
    }

    .home{
        position: relative;
        top: 5px;
        right: 20px;
        margin-bottom: 2rem;
    }

    .about-links{
        margin-top: 2rem;
    }
}

@media (min-width: 730px) and (max-width: 767px){
    .nav-toggle{
        cursor: pointer;
        position: relative;
        left: 20rem;
        /* top: 10px; */
        z-index: 1;
    }

    .bar{
        display: block;
        background: white;
        margin: 5px auto;
        position: relative;
        right: 10rem;
        top: 20px;
        width: 25px;
        height: 3px;
    }

    #nav-bars{
        display: none;
        flex-direction: column;
        left: 21rem;
        top: 2rem;
        background: #d92393b6;
        height: 60vh;
        width: 30vh;
        justify-content: center;
        padding: 5rem 0;
        align-items: center;
        position: absolute;
        /* padding: 2rem; */
        /* gap: 2rem; */
        /* text-align: center; */
    }

    .about-li{
        position: relative;
        top: 2rem;
        right: 3rem;
        margin-top: 5rem;
        margin-bottom: 5rem;
    }

    .link{
        position: relative;
        left: 2.5rem;
    }

    .home2{
        position: relative;
        left: 3rem;
        margin-bottom: 5rem;
    }

    #nav-bars.active{
        display: block;
    }

    .nav-toggle.active .bar:nth-child(2){
        opacity: 0;
    }

    .nav-toggle.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .nav-toggle.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    #nav-bars li .dropdown{
        display: none;
        position: absolute;
        top: 3rem;
        z-index: 1;
        background-color: #7e0b52c4;
        text-align: center;
        width: 8rem;
    }

    #nav-bars li .click{
        display: none;
        position: absolute;
        top: 3rem;
        z-index: 1;
        background-color: #7e0b52cd;
        text-align: center;
        width: 8rem;
    }

    .map-container{
        flex-direction: column;
        left: 0;
        right: 3rem;
        z-index: -1;
    }

    .map iframe{
        width: 35rem;
    }

    .map-content{
        width: 35rem;
        position: relative;
        right: 10px;
        margin-top: 2rem;
        height: 17rem;
    }

    .location h1{
        font-size: 2rem;
    }

    .contact h2{
        left: 18rem;
        top: 59rem;
        font-size: 2rem;
    }

    .form{
        top: 60rem;
        left: 4.5rem;
        width: 35rem;
    }

    .form button{
        margin: 0 2rem;
    }

    footer{
        flex-direction: column;
        width: 100%;
        padding: 50px;
    }

    .logo2 a{
        position: relative;
        right: 20px;
    }

    .contact-links{
        margin-top: 3rem;
        position: relative;
        right: 2.5rem;
    }

    .home{
        position: relative;
        top: 5px;
        right: 20px;
        margin-bottom: 2rem;
    }

    .about-links{
        margin-top: 2rem;
    }
}

@media (min-width: 767px) and (max-width: 1024px){

    .map-container{
        display: flex;
        left: 0;
        right: 3rem;
        z-index: -1;
    }

    .map iframe{
        width: 25rem;
    }

    .map-content{
        width: 25rem;
        position: relative;
        right: 10px;
        margin-top: 0;
        height: 28rem;
    }

    .location h1{
        font-size: 2rem;
    }

    .contact h2{
        left: 18rem;
        top: 43rem;
        font-size: 2rem;
    }

    .form{
        top: 45rem;
        left: 4.5rem;
        width: 35rem;
    }

    .form button{
        margin: 0 2rem;
    }
}

@media (min-width: 1280px) and (max-width: 1440px){

    .map-container{
        display: flex;
        left: 0;
        right: 3rem;
        z-index: -1;
    }

    .map iframe{
        width: 25rem;
    }

    .map-content{
        width: 25rem;
        position: relative;
        right: 10px;
        margin-top: 0;
        height: 28rem;
    }

    .location h1{
        font-size: 2rem;
    }

    .contact h2{
        left: 18rem;
        top: 43rem;
        font-size: 2rem;
    }

    .form{
        top: 45rem;
        left: 4.5rem;
        width: 35rem;
    }

    .form button{
        margin: 0 2rem;
    }
}




