*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

html, body{
    overflow-x: hidden;
    scroll-behavior: smooth
}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


header{
    background: #D92394;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.logo a{
    font-size: 1.2rem;
    background-color: white;
    border-radius: 70%;
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    color: #f6099b;
    text-decoration: none;
}

#nav-bars li a{
    text-decoration: none;
    color: #fff;
    padding: 20px 25px;
}



#nav-bars li{
    display: inline-flex;
    position: relative;
    
}

#nav-bars li a{
    display: block;
    padding: 20px 25px;
    text-decoration: none;
    color: #fff;
    text-align: center;
}

#nav-bars li .dropdown{
    display: none;
    position: absolute;
    top: 3rem;
    z-index: 1;
    background-color: #7e0b52;
    text-align: center;
}

#nav-bars li .click{
    display: none;
    position: absolute;
    top: 3rem;
    z-index: 1;
    background-color: #7e0b52;
    text-align: center;
}


#nav-bars li:hover .dropdown{
    display: block;
}

#nav-bars li:hover .click{
    display: block;
}

.click li:hover, .dropdown li:hover{
    background-color: #8b165f;
}

.click a:active, .dropdown a:active{
    background-color: #db138e;
    width: 100%;
}

.button a{
    background-color: white;
    text-decoration: none;
    color: #fa009a;
    padding: 10px;
    display: flex;
    align-items: center;
    position: relative;
    top: 10px;
    border-radius: 10px;
    transition: 0.3s ease;

}

.button a:hover{
    background-color: #973973;
}

.button a:active{
    background-color: #bd3c8b;
}

.container{
    background-image: url("../image/fragrance.jpeg");
    height: 80vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.container h1{
    position: absolute;
    top: 30%;
    left: 25%;
    color: #fff;
    font-weight: bold;
    font-size: 4rem;
    text-align: center;
    line-height: 1.3;
}

.container h1 span{
    color: #f30096;
}



.container2{
    padding: 2rem;

}

.slide-wrapper{
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
    
    width: 20rem;
    border-radius: 10px;
}

.slide{
    display: flex;
    aspect-ratio: 16/12;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    background: #ff06a0;
}

.slide img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    
}

.slide-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slide-nav a{
    width: 0.5rem;
    height: 0.5rem;
    background-color: rgb(6, 6, 6);
    border-radius: 50%;
    margin-top: 2rem;
}

.container3{
    padding: 2rem;

}

.slider-wrapper1{
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
    
    width: 20rem;
    border-radius: 10px;
}

.slider{
    display: flex;
    aspect-ratio: 16/12;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    background: #ff06a0;
}

.slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    
}

.slide-nav2{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slide-nav2 a{
    width: 0.5rem;
    height: 0.5rem;
    background-color: rgb(6, 6, 6);
    border-radius: 50%;
    margin-top: 5rem;
}

.comtainer4{
    padding: 2rem;

}

.slide-wrapper2{
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
    
    width: 20rem;
    border-radius: 10px;
}

.sliders{
    display: flex;
    aspect-ratio: 16/12;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    background: #ff06a0;
}

.sliders img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    
}

.sliders-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.sliders-nav a{
    width: 0.5rem;
    height: 0.5rem;
    background-color: rgb(6, 6, 6);
    border-radius: 50%;
    margin-top: 2rem;
}

.products h2{
    text-align: center;
    margin: 20px 0;
    font-size: 2rem;
    color: #ff06a0;
}


.universe{
    display: flex;
    align-items: center;
    justify-content: center;
}

 h3{
    text-align: center;
    margin-top: 20px ;
}

.service{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.service-box{
    display: flex;
}

.service h2{
    text-align: center;
    margin: 20px 0;
    font-size: 2rem;
    color: #ff06a0;
}

.box1{
    background-color: #e7dfdf6f;
    height: 13rem;
    width: 20rem;
    line-height: 2;
    padding: 10px;
    border-radius: 20px;
    margin-right: 10px;
    transition: 0.3s ease;
    cursor: pointer;
}

.box2{
    background-color: #e7dfdf6f;
    height: 13rem;
    width: 20rem;
    line-height: 2;
    padding: 10px;
    border-radius: 20px;
    margin-right: 10px;
    transition: 0.3s ease;
    cursor: pointer;
}

.box3{
    background-color: #e7dfdf6f;
    height: 13rem;
    width: 20rem;
    line-height: 2;
    padding: 10px;
    border-radius: 20px;
    transition: 0.3s ease;
    cursor: pointer;
}


.box1:hover{
    scale: 1.05;
}

.box2:hover{
    scale: 1.05;
}

.box3:hover{
    scale: 1.05;
}

.service-box h3{
    color: #ff06a0;
    font-size: 21px;
}

.service-box p{
    font-size: 13px;

}

.cards{
    display: grid;
    grid-template-columns: repeat(4, 250px);
    position: relative;
    left: 8rem;
    gap: 2rem;
    margin: 40px 0;
}

.card{
    background-color: #dcd7d7a4;
    position: relative;
    width: 15rem;
    height: 15rem;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(25, 25, 25, 0.523);
}

.card img{
    position: absolute;
    left: 10px;
    object-fit: cover;
    top: 10px;
    transition: 0.3s ease;
    cursor: pointer;
}

.card3{
    background-color: #dcd7d7a4;
    position: relative;
    width: 15rem;
    height: 15rem;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(25, 25, 25, 0.523);
}

.card3 img{
    position: absolute;
    left: 10px;
    object-fit: cover;
    top: 10px;
    height: 14rem;
    width: 14rem;
    transition: 0.3s ease;
    cursor: pointer;
}

.card5{
    background-color: #dcd7d7a4;
    position: relative;
    width: 15rem;
    height: 15rem;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(25, 25, 25, 0.523);
}

.card5 img{
    position: absolute;
    left: 10px;
    top: 10px;
    height: 14rem;
    width: 14rem;
    transition: 0.3s ease;
    cursor: pointer;
}

.card img:hover, .card3 img:hover, .card5 img:hover{
    scale: 1.05;
}

.gallery h2{
    text-align: center;
    margin: 20px 0;
    font-size: 2rem;
    color: #ff06a0;
}

footer{
    background: #D92394;
    display: flex;
    justify-content: space-between;
    padding: 50px;
    align-items: center;
}

footer a{
    text-decoration: none;
    color: #fff;
}

footer a:hover{
    text-decoration: underline black;
}

.about-links{
    display: flex;
    flex-direction: column;
    line-height: 1.6;
}

.contact-links{
    display: flex;
    flex-direction: column;
}

.contact{
    position: relative;
    bottom: 2rem;
    left: 2rem;
}

.home{
    position: relative;
    bottom: 2rem;
}

.location{
    position: relative;
    bottom: 20px;
    left: 2rem;
}


.logo2 a{
    font-size: 1.2rem;
    background-color: white;
    border-radius: 70%;
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    color: #f6099b;
    text-decoration: none;
    position: relative;
    bottom: 2rem;
    right: 2rem;
}

.to-top{
    font-size: 3rem;
    color: black;
    position: fixed;
    bottom: 16px;
    right: 32px;
    pointer-events: none;
    opacity: 0;
    transition: 0.3s ease;
}

.to-top.active{
    pointer-events: auto;
    opacity: 1;
}

@media (min-width: 320px) and (max-width: 420px){
    .nav-toggle{
        cursor: pointer;
        position: relative;
        left: 20rem;
        /* top: 10px; */
        z-index: 1;
    }

    .bar{
        display: block;
        background: white;
        margin: 5px auto;
        position: relative;
        right: 20rem;
        top: 20px;
        width: 25px;
        height: 3px;
    }

    #nav-bars{
        display: none;
        flex-direction: column;
        left: 2rem;
        top: 2rem;
        background: #d92393b6;
        height: 60vh;
        width: 30vh;
        justify-content: center;
        padding: 5rem 0;
        align-items: center;
        position: absolute;
        /* padding: 2rem; */
        /* gap: 2rem; */
        /* text-align: center; */
    }

    .about-li{
        position: relative;
        top: 2rem;
        right: 3rem;
        margin-top: 5rem;
        margin-bottom: 5rem;
    }

    .link{
        position: relative;
        left: 2.5rem;
    }

    .home2{
        position: relative;
        left: 3rem;
        margin-bottom: 5rem;
    }

    #nav-bars.active{
        display: block;
    }

    .nav-toggle.active .bar:nth-child(2){
        opacity: 0;
    }

    .nav-toggle.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .nav-toggle.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    #nav-bars li .dropdown{
        display: none;
        position: absolute;
        top: 3rem;
        z-index: 1;
        background-color: #7e0b52c9;
        text-align: center;
        width: 8rem;
    }

    #nav-bars li .click{
        display: none;
        position: absolute;
        top: 3rem;
        z-index: 1;
        background-color: #7e0b52be;
        text-align: center;
        width: 8rem;
    }

    .button a{
        right: 0;
    }

    .container h1{
        font-size: 3rem;
        top: 30%;
        left: 5%;
    }

    .universe{
        display: flex;
        flex-direction: column;
    }

    .service-box{
        display: flex;
        flex-direction: column;
    }

    .box1, .box2{
        margin-bottom: 10px;
    }

    .cards{
        grid-template-columns: 250px;
        left: 4rem;
    }

    footer{
        flex-direction: column;
    }

    .logo2 a{
        position: relative;
        right: 20px;
    }

    .contact-links{
        margin-top: 3rem;
        position: relative;
        right: 2.5rem;
    }

    .home{
        position: relative;
        top: 5px;
        right: 10px;
        margin-bottom: 2rem;
    }
}

@media (min-width: 421px) and (max-width: 460px){
    .nav-toggle{
        cursor: pointer;
        position: relative;
        left: 20rem;
        /* top: 10px; */
        z-index: 1;
    }

    .bar{
        display: block;
        background: white;
        margin: 5px auto;
        position: relative;
        right: 20rem;
        top: 20px;
        width: 25px;
        height: 3px;
    }

    #nav-bars{
        display: none;
        flex-direction: column;
        left: 2rem;
        top: 2rem;
        background: #d92393b6;
        height: 60vh;
        width: 30vh;
        justify-content: center;
        padding: 5rem 0;
        align-items: center;
        position: absolute;
        /* padding: 2rem; */
        /* gap: 2rem; */
        /* text-align: center; */
    }

    .about-li{
        position: relative;
        top: 2rem;
        right: 2rem;
        margin-top: 5rem;
        margin-bottom: 5rem;
    }

    .link{
        position: relative;
        left: 3rem;
    }

    .home2{
        position: relative;
        left: 3rem;
        
    }

    #nav-bars.active{
        display: block;
    }

    .nav-toggle.active .bar:nth-child(2){
        opacity: 0;
    }

    .nav-toggle.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .nav-toggle.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    #nav-bars li .dropdown{
        display: none;
        position: absolute;
        top: 3rem;
        z-index: 1;
        background-color: #7e0b5284;
        text-align: center;
        width: 8rem;
    }

    #nav-bars li .click{
        display: none;
        position: absolute;
        top: 3rem;
        z-index: 1;
        background-color: #7e0b5284;
        text-align: center;
        width: 8rem;
    }

    .button a{
        right: 0;
    }

    .container h1{
        font-size: 3rem;
        top: 30%;
        left: 10%;
    }

    .universe{
        display: flex;
        flex-direction: column;
    }

    .service-box{
        display: flex;
        flex-direction: column;
    }

    .box1, .box2{
        margin-bottom: 10px;
    }

    .cards{
        grid-template-columns: 250px;
        left: 6rem;
    }

    footer{
        flex-direction: column;
    }

    .logo2 a{
        position: relative;
        right: 20px;
    }

    .contact-links{
        margin-top: 3rem;
        position: relative;
        right: 2.5rem;
    }

    .home{
        position: relative;
        top: 5px;
        right: 10px;
        margin-bottom: 2rem;
    }
}

@media (min-width: 461px) and (max-width: 560px){
    .nav-toggle{
        cursor: pointer;
        position: relative;
        left: 20rem;
        /* top: 10px; */
        z-index: 1;
    }

    .bar{
        display: block;
        background: white;
        margin: 5px auto;
        position: relative;
        right: 23rem;
        top: 20px;
        width: 25px;
        height: 3px;
    }

    #nav-bars{
        display: none;
        flex-direction: column;
        left: 2rem;
        top: 2rem;
        background: #d92393b6;
        height: 60vh;
        width: 30vh;
        justify-content: center;
        padding: 5rem 0;
        align-items: center;
        position: absolute;
        /* padding: 2rem; */
        /* gap: 2rem; */
        /* text-align: center; */
    }

    .about-li{
        position: relative;
        top: 2rem;
        right: 3rem;
        margin-top: 5rem;
        margin-bottom: 5rem;
    }

    .link{
        position: relative;
        left: 2.5rem;
    }

    .home2{
        position: relative;
        left: 3rem;
        margin-bottom: 5rem;
    }

    #nav-bars.active{
        display: block;
    }

    .nav-toggle.active .bar:nth-child(2){
        opacity: 0;
    }

    .nav-toggle.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .nav-toggle.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    #nav-bars li .dropdown{
        display: none;
        position: absolute;
        top: 3rem;
        z-index: 1;
        background-color: #7e0b5284;
        text-align: center;
        width: 8rem;
    }

    #nav-bars li .click{
        display: none;
        position: absolute;
        top: 3rem;
        z-index: 1;
        background-color: #7e0b5284;
        text-align: center;
        width: 8rem;
    }

    .button a{
        right: 0;
    }

    .container h1{
        font-size: 3rem;
        top: 30%;
        left: 10%;
    }

    .universe{
        display: flex;
        flex-direction: column;
    }

    .service-box{
        display: flex;
        flex-direction: column;
    }

    .box1, .box2{
        margin-bottom: 10px;
    }

    .cards{
        grid-template-columns: 250px;
        left: 8rem;
    }

    footer{
        flex-direction: column;
    }

    .logo2 a{
        position: relative;
        right: 20px;
    }

    .contact-links{
        margin-top: 3rem;
        position: relative;
        right: 2.5rem;
    }

    .home{
        position: relative;
        top: 5px;
        right: 10px;
        margin-bottom: 2rem;
    }
}

@media (min-width: 561px) and (max-width: 600px){
    .nav-toggle{
        cursor: pointer;
        position: relative;
        left: 20rem;
        /* top: 10px; */
        z-index: 1;
    }

    .bar{
        display: block;
        background: white;
        margin: 5px auto;
        position: relative;
        right: 25rem;
        top: 20px;
        width: 25px;
        height: 3px;
    }

    #nav-bars{
        display: none;
        flex-direction: column;
        left: 2rem;
        top: 2rem;
        background: #d92393b6;
        height: 60vh;
        width: 30vh;
        justify-content: center;
        padding: 5rem 0;
        align-items: center;
        position: absolute;
        /* padding: 2rem; */
        /* gap: 2rem; */
        /* text-align: center; */
    }

    .about-li{
        position: relative;
        top: 2rem;
        right: 3rem;
        margin-top: 5rem;
        margin-bottom: 5rem;
    }

    .link{
        position: relative;
        left: 2.5rem;
    }

    .home2{
        position: relative;
        left: 3rem;
        margin-bottom: 5rem;
    }

    #nav-bars.active{
        display: block;
    }

    .nav-toggle.active .bar:nth-child(2){
        opacity: 0;
    }

    .nav-toggle.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .nav-toggle.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    #nav-bars li .dropdown{
        display: none;
        position: absolute;
        top: 3rem;
        z-index: 1;
        background-color: #7e0b5284;
        text-align: center;
        width: 8rem;
    }

    #nav-bars li .click{
        display: none;
        position: absolute;
        top: 3rem;
        z-index: 1;
        background-color: #7e0b5284;
        text-align: center;
        width: 8rem;
    }

    .button a{
        right: 0;
    }

    .container h1{
        font-size: 3rem;
        top: 30%;
        left: 10%;
    }

    .universe{
        display: flex;
        flex-direction: column;
    }

    .service-box{
        display: flex;
        flex-direction: column;
    }

    .box1, .box2{
        margin-bottom: 10px;
    }

    .cards{
        grid-template-columns: 250px;
        left: 10rem;
    }

    footer{
        flex-direction: column;
    }

    .logo2 a{
        position: relative;
        right: 20px;
    }

    .contact-links{
        margin-top: 3rem;
        position: relative;
        right: 2.5rem;
    }

    .home{
        position: relative;
        top: 5px;
        right: 10px;
        margin-bottom: 2rem;
    }
}

@media (min-width: 601px) and (max-width: 640px){
    .nav-toggle{
        cursor: pointer;
        position: relative;
        left: 20rem;
        /* top: 10px; */
        z-index: 1;
    }

    .bar{
        display: block;
        background: white;
        margin: 5px auto;
        position: relative;
        right: 25rem;
        top: 20px;
        width: 25px;
        height: 3px;
    }

    #nav-bars{
        display: none;
        flex-direction: column;
        left: 2rem;
        top: 2rem;
        background: #d92393b6;
        height: 60vh;
        width: 30vh;
        justify-content: center;
        padding: 5rem 0;
        align-items: center;
        position: absolute;
        /* padding: 2rem; */
        /* gap: 2rem; */
        /* text-align: center; */
    }

    .about-li{
        position: relative;
        top: 2rem;
        right: 3rem;
        margin-top: 5rem;
        margin-bottom: 5rem;
    }

    .link{
        position: relative;
        left: 2.5rem;
    }

    .home2{
        position: relative;
        left: 3rem;
        margin-bottom: 5rem;
    }

    #nav-bars.active{
        display: block;
    }

    .nav-toggle.active .bar:nth-child(2){
        opacity: 0;
    }

    .nav-toggle.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .nav-toggle.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    #nav-bars li .dropdown{
        display: none;
        position: absolute;
        top: 3rem;
        z-index: 1;
        background-color: #7e0b5284;
        text-align: center;
        width: 8rem;
    }

    #nav-bars li .click{
        display: none;
        position: absolute;
        top: 3rem;
        z-index: 1;
        background-color: #7e0b5284;
        text-align: center;
        width: 8rem;
    }

    .button a{
        right: 0;
    }

    .container h1{
        font-size: 3rem;
        top: 40%;
        left: 5%;
    }

    .universe{
        display: flex;
        flex-direction: column;
    }

    .service-box{
        display: flex;
        flex-direction: column;
    }

    .box1, .box2{
        margin-bottom: 10px;
    }

    .cards{
        grid-template-columns: 250px;
        left: 12rem;
    }

    footer{
        flex-direction: column;
    }

    .logo2 a{
        position: relative;
        right: 20px;
    }

    .contact-links{
        margin-top: 3rem;
        position: relative;
        right: 2.5rem;
    }

    .home{
        position: relative;
        top: 5px;
        right: 10px;
        margin-bottom: 2rem;
    }
}

@media (min-width: 641px) and (max-width: 673px){
    .nav-toggle{
        cursor: pointer;
        position: relative;
        left: 20rem;
        /* top: 10px; */
        z-index: 1;
    }

    .bar{
        display: block;
        background: white;
        margin: 5px auto;
        position: relative;
        right: 27rem;
        top: 20px;
        width: 25px;
        height: 3px;
    }

    #nav-bars{
        display: none;
        flex-direction: column;
        left: 2rem;
        top: 2rem;
        background: #d92393b6;
        height: 60vh;
        width: 30vh;
        justify-content: center;
        padding: 5rem 0;
        align-items: center;
        position: absolute;
        /* padding: 2rem; */
        /* gap: 2rem; */
        /* text-align: center; */
    }

    .about-li{
        position: relative;
        top: 2rem;
        right: 3rem;
        margin-top: 5rem;
        margin-bottom: 5rem;
    }

    .link{
        position: relative;
        left: 2.5rem;
    }

    .home2{
        position: relative;
        left: 3rem;
        margin-bottom: 5rem;
    }

    #nav-bars.active{
        display: block;
    }

    .nav-toggle.active .bar:nth-child(2){
        opacity: 0;
    }

    .nav-toggle.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .nav-toggle.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    #nav-bars li .dropdown{
        display: none;
        position: absolute;
        top: 3rem;
        z-index: 1;
        background-color: #7e0b5284;
        text-align: center;
        width: 8rem;
    }

    #nav-bars li .click{
        display: none;
        position: absolute;
        top: 3rem;
        z-index: 1;
        background-color: #7e0b5284;
        text-align: center;
        width: 8rem;
    }

    .button a{
        right: 0;
    }

    .container h1{
        font-size: 3rem;
        top: 40%;
        left: 10%;
    }

    .universe{
        display: flex;
        flex-direction: column;
    }

    .service-box{
        display: flex;
        flex-direction: column;
    }

    .box1, .box2{
        margin-bottom: 10px;
    }

    .cards{
        grid-template-columns: 250px;
        left: 14rem;
    }

    footer{
        flex-direction: column;
    }

    .logo2 a{
        position: relative;
        right: 20px;
    }

    .contact-links{
        margin-top: 3rem;
        position: relative;
        right: 2.5rem;
    }

    .home{
        position: relative;
        top: 5px;
        right: 10px;
        margin-bottom: 2rem;
    }
}

@media (min-width: 673px) and (max-width: 700px){
    .nav-toggle{
        cursor: pointer;
        position: relative;
        left: 20rem;
        /* top: 10px; */
        z-index: 1;
    }

    .bar{
        display: block;
        background: white;
        margin: 5px auto;
        position: relative;
        right: 27rem;
        top: 20px;
        width: 25px;
        height: 3px;
    }

    #nav-bars{
        display: none;
        flex-direction: column;
        left: 2rem;
        top: 2rem;
        background: #d92393b6;
        height: 60vh;
        width: 30vh;
        justify-content: center;
        padding: 5rem 0;
        align-items: center;
        position: absolute;
        /* padding: 2rem; */
        /* gap: 2rem; */
        /* text-align: center; */
    }

    .about-li{
        position: relative;
        top: 2rem;
        right: 3rem;
        margin-top: 5rem;
        margin-bottom: 5rem;
    }

    .link{
        position: relative;
        left: 2.5rem;
    }

    .home2{
        position: relative;
        left: 3rem;
        margin-bottom: 5rem;
    }

    #nav-bars.active{
        display: block;
    }

    .nav-toggle.active .bar:nth-child(2){
        opacity: 0;
    }

    .nav-toggle.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .nav-toggle.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    #nav-bars li .dropdown{
        display: none;
        position: absolute;
        top: 3rem;
        z-index: 1;
        background-color: #7e0b5284;
        text-align: center;
        width: 8rem;
    }

    #nav-bars li .click{
        display: none;
        position: absolute;
        top: 3rem;
        z-index: 1;
        background-color: #7e0b5284;
        text-align: center;
        width: 8rem;
    }

    .button a{
        right: 0;
    }

    .container h1{
        font-size: 3rem;
        top: 40%;
        left: 10%;
    }

    .universe{
        display: flex;
        flex-direction: column;
    }

    .service-box{
        display: flex;
        flex-direction: column;
    }

    .box1, .box2{
        margin-bottom: 10px;
    }

    .cards{
        grid-template-columns: 250px;
        left: 14rem;
    }

    footer{
        flex-direction: column;
    }

    .logo2 a{
        position: relative;
        right: 20px;
    }

    .contact-links{
        margin-top: 3rem;
        position: relative;
        right: 2.5rem;
    }

    .home{
        position: relative;
        top: 5px;
        right: 10px;
        margin-bottom: 2rem;
    }
}

@media (min-width: 701px) and (max-width: 730px){
    .nav-toggle{
        cursor: pointer;
        position: relative;
        left: 20rem;
        /* top: 10px; */
        z-index: 1;
    }

    .bar{
        display: block;
        background: white;
        margin: 5px auto;
        position: relative;
        right: 5rem;
        top: 20px;
        width: 25px;
        height: 3px;
    }

    #nav-bars{
        display: none;
        flex-direction: column;
        left: 25rem;
        top: 2rem;
        background: #d92393b6;
        height: 60vh;
        width: 30vh;
        justify-content: center;
        padding: 5rem 0;
        align-items: center;
        position: absolute;
        /* padding: 2rem; */
        /* gap: 2rem; */
        /* text-align: center; */
    }

    .about-li{
        position: relative;
        top: 2rem;
        right: 3rem;
        margin-top: 5rem;
        margin-bottom: 5rem;
    }

    .link{
        position: relative;
        left: 2.5rem;
    }

    .home2{
        position: relative;
        left: 3rem;
        margin-bottom: 5rem;
    }

    #nav-bars.active{
        display: block;
    }

    .nav-toggle.active .bar:nth-child(2){
        opacity: 0;
    }

    .nav-toggle.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .nav-toggle.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    #nav-bars li .dropdown{
        display: none;
        position: absolute;
        top: 3rem;
        z-index: 1;
        background-color: #7e0b5284;
        text-align: center;
        width: 8rem;
    }

    #nav-bars li .click{
        display: none;
        position: absolute;
        top: 3rem;
        z-index: 1;
        background-color: #7e0b5284;
        text-align: center;
        width: 8rem;
    }

    .button a{
        right: 0;
    }

    .container h1{
        font-size: 3rem;
        top: 40%;
        left: 15%;
    }

    .universe{
        display: flex;
        flex-direction: column;
    }

    .service-box{
        display: flex;
        flex-direction: column;
    }

    .box1, .box2{
        margin-bottom: 10px;
    }

    .cards{
        grid-template-columns: 250px;
        left: 15rem;
    }

    footer{
        flex-direction: column;
    }

    .logo2 a{
        position: relative;
        right: 20px;
    }

    .contact-links{
        margin-top: 3rem;
        position: relative;
        right: 2.5rem;
    }

    .home{
        position: relative;
        top: 5px;
        right: 10px;
        margin-bottom: 2rem;
    }
}

@media (min-width: 730px) and (max-width: 767px){
    .nav-toggle{
        cursor: pointer;
        position: relative;
        left: 20rem;
        /* top: 10px; */
        z-index: 1;
    }

    .bar{
        display: block;
        background: white;
        margin: 5px auto;
        position: relative;
        right: 5rem;
        top: 20px;
        width: 25px;
        height: 3px;
    }

    #nav-bars{
        display: none;
        flex-direction: column;
        left: 30rem;
        top: 2rem;
        background: #d92393b6;
        height: 60vh;
        width: 30vh;
        justify-content: center;
        padding: 5rem 0;
        align-items: center;
        position: absolute;
        /* padding: 2rem; */
        /* gap: 2rem; */
        /* text-align: center; */
    }

    .about-li{
        position: relative;
        top: 2rem;
        right: 3rem;
        margin-top: 5rem;
        margin-bottom: 5rem;
    }

    .link{
        position: relative;
        left: 2.5rem;
    }

    .home2{
        position: relative;
        left: 3rem;
        margin-bottom: 5rem;
    }

    #nav-bars.active{
        display: block;
    }

    .nav-toggle.active .bar:nth-child(2){
        opacity: 0;
    }

    .nav-toggle.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .nav-toggle.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    #nav-bars li .dropdown{
        display: none;
        position: absolute;
        top: 3rem;
        z-index: 1;
        background-color: #7e0b5284;
        text-align: center;
        width: 8rem;
    }

    #nav-bars li .click{
        display: none;
        position: absolute;
        top: 3rem;
        z-index: 1;
        background-color: #7e0b5284;
        text-align: center;
        width: 8rem;
    }

    .button a{
        right: 0;
    }

    .container h1{
        font-size: 3rem;
        top: 40%;
        left: 15%;
    }

    .universe{
        display: flex;
        flex-direction: column;
    }

    .service-box{
        display: flex;
        flex-direction: column;
    }

    .box1, .box2{
        margin-bottom: 10px;
    }

    .cards{
        grid-template-columns: 250px;
        left: 16rem;
    }

    footer{
        flex-direction: column;
    }

    .logo2 a{
        position: relative;
        right: 20px;
    }

    .contact-links{
        margin-top: 3rem;
        position: relative;
        right: 2.5rem;
    }

    .home{
        position: relative;
        top: 5px;
        right: 10px;
        margin-bottom: 2rem;
    }
}

@media (min-width: 767px) and (max-width: 800px){

    .container h1{
       top: 30%;
       left: 5%;
       font-size: 4rem;
    }

    .home{
        position: relative;
        bottom: 20px;
    }

    .universe{
        flex-wrap: wrap;
    }

    .service-box{
        flex-wrap: wrap;
        position: relative;
        left: 5rem;
    }

    .box1{
        margin-bottom: 10px;
    }

    .cards{
        grid-template-columns: repeat(2, 250px);
        left: 7rem;
    }
}

@media (min-width: 801px) and (max-width: 912px){

    .container h1{
       top: 30%;
       left: 10%;
       font-size: 4rem;
    }

    .home{
        position: relative;
        bottom: 20px;
    }

    .universe{
        flex-wrap: wrap;
    }

    .service-box{
        flex-wrap: wrap;
        position: relative;
        left: 5rem;
    }

    .box1{
        margin-bottom: 10px;
    }

    .cards{
        grid-template-columns: repeat(2, 250px);
        left: 10rem;
    }
}

@media (min-width: 901px) and (max-width: 979px){

    .container h1{
       top: 30%;
       left: 10%;
       font-size: 4rem;
    }

    .home{
        position: relative;
        bottom: 20px;
    }

    .universe{
        flex-wrap: wrap;
    }

    .service-box{
        flex-wrap: wrap;
        position: relative;
        left: 5rem;
    }

    .box1{
        margin-bottom: 10px;
    }

    .cards{
        grid-template-columns: repeat(3, 250px);
        left: 5rem;
    }
}

@media (min-width: 980px) and (max-width: 1024px){

    .container h1{
       top: 30%;
       left: 15%;
       font-size: 4rem;
    }

    .slide-wrapper,.slider-wrapper1, .slide-wrapper2{
        width: 17rem;
    }
    

    .cards{
        grid-template-columns: repeat(3, 250px);
        left: 5rem;
    }
}

@media (min-width: 1200px) and (max-width: 1280px){
    .cards{
        left: 7rem;
    }
}


